@{
    ViewData["Title"] = "Welcome to Utkarsh Sandal's Store!";
}

<h2>Welcome...to the Store!</h2>

<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]; i++)
    {
        <li>@ViewData["Message"]</li>
    }
</ul>